<a href="https://colab.research.google.com/github/Rhovic-Gabijan/CPE-103-OOP-1-A/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [12]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Monday
Tuesday
Wednesday

Looping for String

In [2]:
for x in "Week":
  print(x)

W
e
e
k

Range() Function

In [14]:
for x in range(6):
  print(x)

for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [18]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [11]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [33]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue Statement

In [4]:
i = 1
while i < 6:
  if i == 3:
     i+=1
     continue
  print(i)
  i+=1

1
2
4
5

The Else Statement

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [13]:
i = 0
while i < 11:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [15]:
for x in range(0, 11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Practical Test

In [19]:
# < 10 but not < 3 (>3)

for x in range(4, 10):
  print(x)

4
5
6
7
8
9

In [22]:
i = 4
while i < 10:
  print(i)
  i += 1

4
5
6
7
8
9