<a href="https://colab.research.google.com/github/Rhovic-Gabijan/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python indentation

In [5]:
x = 2
y = 5
if x>y:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [2]:
#This is a comment
print("Hello world")

Hello world

Python Variable

In [10]:
z=1
a, b=0, 1
a, b, c = 0, -1, 2
b="Sally"
print(a)
print(b)
print(c)

0
Sally
2

Casting

In [13]:
b = "Sally"
b = int(4)
print(b)

b=float(4)
print(b)

4
4.0

Types () function

In [14]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double qoutes or Single qoutes

In [15]:
x = "John"
y = 'John'
print(x)
print(y)

John
John

Case sensitive

In [16]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [17]:
x,y,z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [18]:
x = y = z ="Four"
print(x)
print(y)
print(z)

Four
Four
Four

Output Variables

In [20]:
x = "enjoying"
print("Python programm is " + x)

Python programm is enjoying

Arithmetic Operations

In [24]:
x=10
y=3

sum = x+y
subtraction = x-y
multiplication = x*y
division = x/y
modulus = x%y
exponentiation = x**y
floor_division = x//y

print(sum)
print(subtraction)
print(multiplication)
print(division)
print(modulus)
print(exponentiation)
print(floor_division)

13
7
30
3.3333333333333335
1
1000
3

Assigned Operators

In [26]:
a, b, c = 0, -1, 6
c%=3
c

0

Comparison Operators

In [32]:
x = 5
y = 2
sum = x !=y
less = x == y
print(sum)
print(less)

True
False

Logical Operators

In [34]:
x = 2
y = 3

q = x < 5 and x < 10
w = not(x<5 and x<10)
print(q)
print(w)

True
False

Identity Operators

In [37]:
a,b,c = 0, -1, 5
r = a is c
t = a is not c

print(r)
print(t)

False
True

Bitwise Operators

In [51]:
x = 10
x >> 1

5

Application 1

In [67]:
#Circle
pi = 3.14
print("Input Radius:")
x = input()

print("Area of Circle is ")
print(float(pi)*float(x)*float(x))

Input Radius:
12
Area of Circle is
452.15999999999997

In [69]:
#Rectangle
print("Input Base: ")
a= input()

print("Input Height")
b=input()

print("Area of Rectangle is ")
print(float(a)*float(b))

Input Base:
12
Input Height
12
Area of Rectangle is
144.0

In [73]:
#Square

print("Input Side of Square: ")
p = input()

print("The Area of Square is")
print(float(p)*float(p))

Input Side of Square:
12
The Area of Square is
144.0