<a href="https://colab.research.google.com/github/Rhovic-Gabijan/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

In [3]:
#Numbers
varNum = 123
pi = 3.14159

#Strings
varString = "Hello World"
varText = 'This is a String'

#Lists
varList = ["abc", 123]

#Tuples
varTuple = ('abc', 123, "HELLO")

#Dictionaries
var = 3
varDict = {'First':1, '2':'2nd', 3:var}
varDict ={}
varDict['First'] = 1
varDict['2'] = '2nd'
varDict[3]= var

Arithmetic

In [8]:
#Addition
a = 5 + 3

#Substraction
a = 5 -3

#Multiplication
a = 5*3

#Exponent
a = 5**3

#Division
a = 5/3

a = 5%3

a = 5//3

#Increment/Decrement
a = 5
a += 1

#Decrement
a = 5
a -= 1

#String Concatenation
a = 'Hello' + 'World!'

#Complex Expressions
a = 3 + 5 - 6 *2 / 4

Condtional Statements

In [10]:
#Boolean Conditions
x = True

if x:
  print ("Var is True")
else:
  print("Var is False")

#String Conditions
x = "Hello World!"

if x== 'Hello World!':
  print("Var x is Hello World!")
else:
  print("var x is not Hello World!")

#Numerical Conditions
x = 10
if x=='10':
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var is none of the above")

Var is True
Var x is Hello World!
var x is an integer

Loop

In [24]:
#For Loops
for var in range (0, 5, 2):
  print(var)

#While Loops
var = 0
while var < 5:
  print(var)
  var += 2

#Nested Loops
x = 0
while x < 5:
  for y in range (0, x):
    print(y, end='')
  x += 1
  print()

0
2
4
0
2
4

0
01
012
0123

Function

In [16]:
def remainder (n ,m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n-m

remainder(10,4)

2

List

In [28]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

Dictionaries

In [34]:
var = "Hello World!"
varDict = {'first':123, 2:'abc', '3':var, 4:['lista', 'listb']}

print(varDict['first'])

print(varDict[2])

print(varDict['3'])

print(varDict[4])

print(varDict[4][1])

len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

List Generators and Comprehension

In [39]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0,5,2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

Slicing

In [42]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]